.cards-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* .images-container {

} */

@media (min-width: 600px) {
  .cards-display {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .card-item {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 950px) {
  .images-container {
    flex-direction: row;
    justify-content: center;
  }
}
